<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tripzii.station">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookingActivity" />
        </activity>
        <activity
            android:name=".MenuBarActivity"
            android:label="@string/title_activity_menubar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AllTripActivity" />
        <activity android:name=".BookingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelAccountActivity" />
        </activity>
        <activity android:name=".EditProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelAccountActivity" />
        </activity>
        <activity android:name=".SetupCompanyProfileActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".HotelAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllTripActivity" />
        </activity>
        <activity android:name=".ResetPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelAccountActivity" />
        </activity>
        <activity android:name=".ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ReportCommissionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HotelAccountActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>